html {
    width: 100%;
}

body {
    background-color: #8e8e93;
    background-image: url("bg.jpg");
    background-position: bottom left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 36%;
    margin-left: 40%;
}

h1 {
    color: white;
}

p {
    font-family: 'Verdana', 'Arial';
    font-size: 1.5em;
}