body {
    max-width: 700px;
    padding: 20px;
    font-family: Arial;
}

input, select, button {
    padding: 8px;
    margin: 5px;
    font-size: 16px;
}

button {
    cursor: pointer;
}

#result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #000000;
    min-height: 40px;
}

#historyList {
    margin-top: 10px;
    border: 1px solid black;
    padding: 10px;
    background: #f7f7f7;
}